/* Estilos para la página de inicio de sesión */

:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #2c7b90;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, var(--purple), var(--blue-light));
    /* Color de fondo */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    /* Color de fondo del contenedor de inicio de sesión */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.logo-container img {
    max-width: 125px;
    /* Tamaño máximo del logo */
    margin-bottom: 20px;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
    /* Color del texto */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333333;
    /* Color del texto */
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    /* Color del borde */
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    /* Color de fondo del botón */
    color: #ffffff;
    /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #0056b3;
    /* Cambio de color al pasar el mouse sobre el botón */
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    /* Color del enlace */
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    /* Subrayado al pasar el mouse sobre el enlace */
}