/* Estilos para la sección "Explora tu mercado" */

:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #2c7b90;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, var(--purple), var(--blue-light));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.market-explore-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.market-explore-container h2 {
    color: #333333;
    margin-bottom: 20px;
    /* Añadido espacio entre el título y los formularios */
}

.form-group {
    margin-bottom: 20px;
    /* Añadido espacio entre cada pregunta y su caja de selección */
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    /* Añadido espacio entre la pregunta y la caja de selección */
    color: #333333;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

#result-container {
    margin-top: 20px;
}

#result-container h3 {
    color: #333333;
}

#market-result {
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
}


/* Estilos para el botón de retroceso */

.back-button {
    position: fixed;
    bottom: 20px;
    /* Ajusta la distancia desde la parte inferior según necesites */
    left: 20px;
    /* Ajusta la distancia desde el borde izquierdo según necesites */
    z-index: 9999;
    /* Asegura que esté por encima de otros elementos */
    background-color: #007bff;
    /* Color de fondo del botón */
    color: #ffffff;
    /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra para el efecto de elevación */
}

.back-button:hover {
    background-color: #0056b3;
    /* Cambia el color de fondo al pasar el ratón por encima */
}