/* Estilos para el simulador de precios y modelos de ingresos */

/* Estilos para la página "Modela tus ingresos" */

:root {
    --white: #fafafb;
    --purple: #9a67ea;
    --blue-light: #04d4c3;
    --blue-dark: #2a73c2;
    --green: #2c7b90;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, var(--purple), var(--blue-light));
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.sales-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.sales-table th,
.sales-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.sales-table th {
    background-color: #f2f2f2;
}

.total-income {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    input, button {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 20px;
    }

    input, button {
        font-size: 12px;
    }
}


/* Estilos para el botón de retroceso */

.back-button {
    position: fixed;
    bottom: 20px;
    /* Ajusta la distancia desde la parte inferior según necesites */
    left: 20px;
    /* Ajusta la distancia desde el borde izquierdo según necesites */
    z-index: 9999;
    /* Asegura que esté por encima de otros elementos */
    background-color: #007bff;
    /* Color de fondo del botón */
    color: #ffffff;
    /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra para el efecto de elevación */
}

.back-button:hover {
    background-color: #0056b3;
    /* Cambia el color de fondo al pasar el ratón por encima */
}